* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


body {
    background-color: #d3b300;
    font-family: montserrat;
}

/* NavBar */
nav {
    background: #3b3605;
    height: 80px;
    width: 100%;
}

.logo {
    font-family: 'Cormorant Garamond',
        serif;
    font-size: 35px;
    line-height: 80px;
    padding: 0 1px;
    font-weight: bold;
}

.logo:hover {
    cursor: pointer;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,
a:hover {
    background: #eeb004;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    figure h1 {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #6b610b;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
        color: #eeb004;
    }

    #check:checked~ul {
        left: 0;
    }

}

/* About us and image image */

#img {
    width: 100%;
    height: 466px;
    top: -52px;
    margin-left: -38px;
    align-items: center;
    justify-content: center;

}

h1 {
    position: relative;
    top: 45px;
    margin-left: 0px;
    font-family: 'Slabo 27px',
        serif;
}

p1 {
    position: relative;
    top: -138px;
    font-family: 'Noto Serif',
        serif;
}

figure {
    margin: 0px;
    padding: 0px 100px;
    margin-top: 30px;
    top: 20px;
    text-decoration: solid black;
    text-align: center;
    font-family: 'Noto Serif',
        serif;
}

@media (max-width: 952px) {
    #img {
        width: 105%;
        margin: -28px -17px -94px 0px;
        margin-left: -28px;

    }

    p1 {

        top: -40px;
        top: -40px;
        font-family: 'Noto Serif',
            serif;
    }

    h1 {

        top: 66px;
        margin-left: 0px;
        text-align: center;
    }

    figure {
        padding: 0px 10px
    }
}

/* The Preferred Airline */
dev h1 {

    top: -83px;
}

p2 {

    top: -40px;
    font-family: 'Noto Serif',
        serif;
}

@media (max-width: 952px) {
    dev h1 {

        top: 10px;
    }

    p2 {

        top: 50px;
    }
}

/* Great Place to Work */
work h1 {

    top: 18px;
}

p3 {

    top: 50px;
}

@media (max-width: 952px) {
    work h1 {

        top: 85px;
    }

    p3 {

        top: 129px;
    }
}

/* B.B Airline Reach */

reach h1 {

    top: 88px;
}

p4 {

    top: 135px;
}

@media (max-width: 952px) {
    reach h1 {
       
        top: 165px;
    }

    p4 {
        
        top: 200px;
    }
}


/* Footer */
footer {
    bottom: 0;
}

.footer-distributed {
    background-color: #3b3605;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    margin-top: 200px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left {
    width: 40%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: #5383d3;
}


.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}


.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #5383d3;
    text-decoration: none;
    ;
}

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}


@media (max-width: 880px) {

    .footer-distributed {
        font: bold 14px sans-serif;

    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }

    .main {
        line-height: normal;
        font-size: auto;
    }

}

@media (max-width: 952px) {

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
    }

    .footer-distributed h3 {
        margin: -23px;
    }
}

@media (max-width: 325px) {
    .footer-distributed h3 {
        margin: -41px;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        width: 105%;
    }
}

/* End */

/* Important */
@media (max-width: 858px) {
    .checkbtn {
        display: block;
        margin-left: -7px;
        margin-right: 10px;
    }
}