.togglr-bar {
    display: flex;
    overflow: hidden;
}

.logsing{
    display: none;
}

navbar ul{
    width: 100%;
    flex-direction: column;
} 

.navbar-links ul{
    width: 100%;
    flex-direction: column;
}

.navbar{
    flex-direction: column;
    align-items: flex-start;
}