<!DOCTYPE html>
<!-- Created By CodingNepal -->
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <!-- Somehow I got an error, so I comment the title, just uncomment to show -->
    <!-- <title>Responsive Navbar</title> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="book1.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,900&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label>
            <span class="logo" style='color: rgb(217, 217, 223)'>B.</span>
            <span class="logo" style='color: rgb(217, 217, 223)'>B </span>
            <span class="logo" style='color: rgb(217, 217, 223)'>A</span>
            <span class="logo" style='color: rgb(217, 217, 223)'>i</span>
            <span class="logo" style='color: rgb(217, 217, 223)'>r</span>
            <span class="logo" style='color: rgb(201, 143, 18)'>L</span>
            <span class="logo" style='color: rgb(217, 217, 223)'>i</span>
            <span class="logo" style='color: rgb(217, 217, 223)'>n</span>
            <span class="logo" style='color: rgb(217, 217, 223)'>e</span>
            <span class="logo" style='color: rgb(217, 217, 223)'>s</span>
        </label>
        <ul>
            <li><a href="my5th.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="Services.html">Services</a></li>
            <li><a href="Contact.html">Contact</a></li>
            <li><a href="Feedback.html">Feedback</a></li>
        </ul>
    </nav>
    <figure>
        <h2>
            From &#8594; <span id="result-name" />
        </h2>
        <h2>
            To &#8594; <span id="result-surname" />
        </h2>
    </figure>

    <!-- Javascript -->
    <script>
        document.getElementById("result-name").innerHTML = localStorage.getItem("from");
        document.getElementById("result-surname").innerHTML = localStorage.getItem("to");
    </script>
</body>

</html>